* {
    box-sizing: border-box;
    font-family: monospace;
}

html {
    height: 100%;
    background-image: linear-gradient(180deg, #dde7ee, #677f9f);
}

body {
    display: flex;
    flex-direction: column;
    --base-color: #acada2;
    --contrast-color: #fec950;
    --border-color: #635341;
    --equals-color: #5c7cb4;
    --operators-color: #362214;
    --backspace-color: #664147;
    --clear-color: #920b0b;
    --display-color: #bad2d6;
}

.container {
    --pad-size: 12px;
    --button-size: 50px;
    --container-border-size: 4px;
    --button-border-size: 2px;
    --display-font-size: 20pt;
    --button-font-size: 16pt;
    display: inline-flex;
    flex-direction: column;
    border: var(--base-color) var(--container-border-size) solid;
    padding: calc(2 * var(--pad-size)); /*var(--pad-size);*/
    margin-top: calc(2 * var(--pad-size));
    align-self: center;
    background-color: var(--base-color);
    box-shadow: 4px 4px 10px #333333, -4px -4px 10px #333333,
                4px -4px 10px #333333, -4px 4px 10px #333333;
    border-radius: 10px;
}

#display {
    border: var(--border-color) var(--container-border-size) solid;
    margin-bottom: var(--pad-size);
    height: calc(
        var(--button-size) 
        + 2 * var(--pad-size) 
        + 2 * var(--container-border-size) 
    );
    width: calc(
        4 * var(--button-size)
        + 8 * var(--pad-size)
        + 2 * var(--container-border-size) 
    );
    padding: var(--pad-size);
    font-size: var(--display-font-size);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    background-color: var(--display-color);
    color: var(--border-color);
    box-shadow: inset 2px 2px 5px #333333, 2px 2px 5px #333333;
}

.button-container {
    display: inline-flex;
    flex-direction: column;
    border: var(--border-color) var(--container-border-size) solid;
    background-color: var(--base-color);
    box-shadow: inset 2px 2px 5px #333333, 2px 2px 5px #333333;
}

.button-row {
    outline: none;
    display: flex;
}

.multi-row {
    flex-direction: column;
}

.button {
    margin: var(--pad-size);
    height: var(--button-size);
    width: var(--button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--button-font-size);
    background-color: var(--border-color);
    color: var(--contrast-color);
    box-shadow: 0px 2px 5px #333333;
    border-radius: 10px;
}

.button-wide {
    width: 124px;
}

.button-tall {
    height: 124px;
}

#backspace-button {
    background-color: var(--backspace-color);
}

#clear-button {
    background-color: var(--clear-color);
}

.operator-button {
    background-color: var(--operators-color);
}

#equals-button {
    background-color: var(--equals-color);
}
