* {
    box-sizing: border-box;
}

.container {
    display: inline-flex;
    flex-direction: column;
    border: black 4pt solid;
    padding: 12px;
}

.display {
    border: black 4pt solid;
    margin-bottom: 12px;
    height: 84px;
}

.button-container {
    display: inline-flex;
    flex-direction: column;
    border: black 4pt solid;
}

.button-row {
    outline: none;
    display: flex;
}

.multi-row {
    flex-direction: column;
}

.button {
    border: black 2pt solid;
    margin: 12px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 16pt;
}

.button-wide {
    width: 124px;
}

.button-tall {
    height: 124px;
}

