* {
    box-sizing: border-box;
}

div {
    outline: red 2pt solid;
}

.container {
    display: inline-flex;
    flex-direction: column;
    padding: 12px;
}

.display {
    margin-bottom: 12px;
    height: 84px;
}

.button-container {
    display: inline-flex;
    flex-direction: column;
}

.button-row {
    outline: none;
    display: flex;
}

.multi-row {
    flex-direction: column;
}

.button {
    outline: blue 2pt solid;
    margin: 12px;
    height: 50px;
    width: 50px;
}

.button-wide {
    width: 124px;
}

.button-tall {
    height: 124px;
}

